* {
  margin: 0;
  padding: 0;
}

.cuerpo {
  text-align: center;
  background-color: #70a1ff;
}

.divisionprincipal {
  width: 980px;
  margin: auto;
  background-color: #a4b0be;
}

.seccion1 {
  width: 900px;
  margin: auto;
  padding-top: 5px;
  padding: 5px;
}

.cabezera {
  width: 400px;
  margin: auto;
  padding: 15px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: green;
}

.titulo1 {
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.seccion2 {
  width: 900px;
  margin: auto;
  padding: 5px;
  padding-bottom: 5px;
}

.imagen1 {
  width: 202px;
  margin-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.imagen2 {
  width: 301px;
  margin: auto;
  padding-top: 21px;
  padding-bottom: 21px;
}

.imagen3 {
  width: 202px;
  margin-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.seccion3 {
  width: 900px;
  margin: auto;
  padding: 5px;
  padding-bottom: 5px;
}

.seccion3 h2 {
  text-align: left;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 30px;
}

.seccion3 p {
  text-align: left;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
}

.seccion4 {
  width: 900px;
  margin: auto;
  padding: 5px;
  padding-bottom: 5px;
}

.seccion4 h2 {
  text-align: left;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 30px;
  padding-bottom: 20px;
}

.division-a {
  margin-right: 650px;
}

.division-a h3 {
  text-align: left;
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}

.division-a ul {
  text-align: left;
  padding: 10px;
  padding-left: 30px;
}

.division-a li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
}

.division-b {
  text-align: left;
  margin-left: 249px;
  margin-right: 249px;
  padding-bottom: 4px;
  position: relative;
  top: -266px;
}

.division-b h3 {
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}

.division-b ul {
  padding-left: 30px;
}

.division-b li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
  padding: 2px;
}

.division-c {
  text-align: left;
  margin-left: 650px;
  position: relative;
  top: -532px;
}

.division-c h3 {
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}

.division-c ul {
  padding-left: 30px;
}

.division-c li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
  padding: 2px;
}

.seccion5 {
  text-align: left;
  width: 900px;
  margin: auto;
  padding: 5px;
  padding-bottom: 5px;
  position: relative;
  top: -358px;
}

.seccion5 h2 {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 20px;
  padding-left: 30px;
}

.seccion5 li {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
}

.seccion6 {
  width: 980px;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  top: -358px;
  background-color: yellow;
}

.seccion6 h3 {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
